---
layout: two_cols
title: Index
nav: false
---

<div class="home">

  <h1 class="page-heading wow flipInX" data-wow-duration="3s">Articles
    <span class="source">
        {% if site.default_text %}
        <a id="add_link" href="https://github.com/{{ site.github_username }}/{{ site.github_repo }}/new/master/?filename={{ '_posts/' | cgi_escape }}AAAA-MM-JJ-mon-titre.md&amp;value={{ site.default_text | cgi_escape }}">
        {% else %}
        <a id="add_link" href="https://github.com/{{ site.github_username }}/{{ site.github_repo }}/new/master/?filename={{ '_posts/' | cgi_escape }}AAAA-MM-JJ-mon-titre.md">
        {% endif %}
            <i class="fa fa-plus"></i>
        </a>
        <script>
        var id = 'add_link';
        var e = document.getElementById(id);
        function update_time( event ) {
            var link = e.href;
            var now = new Date();
            var year = now.getFullYear();
            var month = now.getMonth() + 1;
            if (month < 10) { month = '0' + month; }
            var day = now.getDate();
            if (day < 10) { day = '0' + day; }
            var hour = now.getHours();
            if (hour < 10) { hour = '0' + hour; }
            var minute = now.getMinutes();
            if (minute < 10) { minute = '0' + minute; }
            var second = now.getSeconds();
            if (second < 10) { second = '0' + second; }
            link = link.replace(/AAAA/g, year);
            link = link.replace(/MM/g, month);
            link = link.replace(/JJ/g, day);
            link = link.replace(/hh/g, hour);
            link = link.replace(/mm/g, minute);
            link = link.replace(/ss/g, second);
            e.href = link;
        };
        e.addEventListener("mouseover", update_time, false);
        </script>
    </span>
  </h1>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li class="wow fadeInRight">
        <span class="post-meta">
            {% include date.html date=post.date %}
        </span>

        <h1>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h1>
        <div class="list-content">
        {{ post.content }}
        </div>
      </li>
    {% endfor %}
  </ul>


  <div class="pagination">
      {% if paginator.previous_page %}
        <div class="previous wow wobble">
          <a href="{{ paginator.previous_page_path }}">
            <i class="fa fa-arrow-left"></i> précédent
         </a>
       </div>
      {% else %}
        <div class="previous">
          <a href="#" class="disabled">
            <i class="fa fa-arrow-left"></i> précédent
         </a>
       </div>
      {% endif %}

    <div class="page_number">
      page {{ paginator.page }} / {{ paginator.total_pages }}
    </div>

      {% if paginator.next_page %}
        <div class="next wow wobble">
          <a class="" href="{{ paginator.next_page_path }}">
            suivant <i class="fa fa-arrow-right"></i>
          </a>
       </div>
      {% else %}
        <div class="next">
          <a href="#" class="disabled">
            suivant <i class="fa fa-arrow-right"></i>
         </a>
       </div>
      {% endif %}
  </div>

</div>
