---
layout: default
title: Index
---

<div class="home">

  <h1 class="page-heading">Articles</h1>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">
            {% assign dy = post.date | date: "%a" %}
            {% case dy %}
                {% when "Mon" %}Lundi
                {% when "Tue" %}Mardi
                {% when "Wed" %}Mercredi
                {% when "Thu" %}Jeudi
                {% when "Fri" %}Vendredi
                {% when "Sat" %}Samedi
                {% when "Sun" %}Dimanche
            {% else %}{{ dy }}
            {% endcase %}

            {% assign d = post.date | date: "%-d"  %}
            {% case d %}
                {% when '1' %}{{ d }}er
                {% else %}{{ d }}
            {% endcase %}

            {% assign m = post.date | date: "%-m" %}
            {% case m %}
                {% when '1' %}janvier
                {% when '2' %}février
                {% when '3' %}mars
                {% when '4' %}avril
                {% when '5' %}mai
                {% when '6' %}juin
                {% when '7' %}juillet
                {% when '8' %}août
                {% when '9' %}septembre
                {% when '10' %}octobre
                {% when '11' %}novembre
                {% when '12' %}décembre
            {% endcase %}

            {{ post.date | date: '%Y' }}
        </span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>


  <div class="pagination">
    <div class="previous">
      {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}">
            <i class="fa fa-arrow-left"></i> précédent
         </a>
      {% else %}
          <a href="#" class="disabled">
            <i class="fa fa-arrow-left"></i> précédent
         </a>
      {% endif %}
   </div>
    <div class="page_number">
      page {{ paginator.page }} / {{ paginator.total_pages }}
    </div>
    <div class="next">
      {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}">
            suivant <i class="fa fa-arrow-right"></i>
          </a>
      {% else %}
          <a href="#" class="disabled">
            suivant <i class="fa fa-arrow-right"></i>
         </a>
      {% endif %}
   </div>
  </div>

</div>
