/**
* Pure CSS & responsive design
*/

.padding {
  padding: $spacing-unit;
}

.padding-notes {
  padding-left: 5px;
  padding-right: $spacing-unit;
}

.padding-feeds {
  margin-top: $spacing-unit;
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;
  text-align: justify;
  @include media-query($on-sm) {
      display: none;
  }
}

.container {
  padding-top: 2 * $spacing-unit;
  padding-bottom: 2 * $spacing-unit;
  background-image: url("/img/back.jpg");
}

.one_col {
  max-width: 900px;
  margin: auto;
  padding: 5%;
}

.main {
    background-color: $background-color;
    border-radius: $spacing-unit;
}


/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}


.site-title {
    display: inline-block;
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;

    &,
    &:visited {
        color: $grey-color-dark;
    }

    @include media-query($on-palm) {
        float: left;
    }

    img {
        height: 56px;
    }

}


.site-nav {
    display: inline-block;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }
    
    @include media-query($on-palm) {
        position: absolute;
        z-index: 10;
        top: 9px;
        right: $spacing-unit;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit / 2;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    text-align: center;
    float: left;
    // margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(33% - (#{$spacing-unit} / 2));
    width:         calc(33% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(33% - (#{$spacing-unit} / 2));
    width:         calc(33% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(33% - (#{$spacing-unit} / 2));
    width:         calc(33% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        text-align: center;
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        text-align: center;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        text-align: center;
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;
    .post-excerpt {
        margin-bottom: $spacing-unit / 2;
        padding: 0.5em;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.list-content {
    /*font-size:0.9em;*/
    color: $grey-color-dark;
    border-radius: 10px;
    background:#F8F8F8;
}

/* Centerize images */
.list-content img {
    max-width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media(min-width:600px) {
    .list-content{
        margin-left: 1em;
        padding: 1em;
    }
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.elevator {
    display: inline-block;
    width: 100%;
    text-align: center;
}
