<!DOCTYPE html>
<html lang="fr">

  {% include head.html %}

  <body id="">

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
      <div class="elevator wow bounceIn">
          <a href="#top">
              <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-1x"></i>
                  <i class="fa fa-angle-double-up fa-stack-1x fa-inverse"></i>
              </span>
          </a>
      </div>
    </div>



    {% include footer.html %}

    {% include foot.html %}
  </body>

</html>
