---
layout: two_cols
---

<div itemscope itemtype="http://schema.org/Article" class="page">

  <header class="post-header wow flip">
    <h1 itemprop="name" class="post-title">{{ page.title }}
        <span class="source">
             {% include edit.html path=page.path %}
        </span>
    </h1>
    <p class="post-meta">
        {% if page.date %}
            Dernière mise à jour :
            <span itemprop="datePublished">
                {% include date.html date=page.date %}
            </span>
        {% endif %}
        {% if page.author %}
            • {% include author.html author=page.author %}
        {% endif %}
        {% if page.meta %} • {{ page.meta }}{% endif %}
        </p>
  </header>

  <article itemprop="articleBody" class="post-content wow rotateIn">
    {{ content }}
  </article>

</div>
