---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}
        <span class="source">
             {% include edit.html path=page.path %}
        </span>
    </h1>
    <p class="post-meta">
        {% if page.date %}Dernière mise à jour : {% include date.html date=page.date %}{% endif %}
        {% if page.author %}{% include author.html author=page.author %}{% endif %}
        {% if page.meta %} • {{ page.meta }}{% endif %}
    </p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
